body {
  margin: 0px;
}

#bg {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
}

#canvas-control {
  position: absolute;
  z-index: 20;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
}

#crosshair {
  display: none;
  position: absolute;
  z-index: 15;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#map-padding {
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

#map-circle {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid white;
  background-color: rgba(0, 0, 100, 0.4);
}

#map-circle * {
  position: absolute;
}

#map-helper {
  width: 100%;
  height: 100%;
}

#floor-number {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  text-align: end;
}

#timer {
  position: absolute;
  z-index: 10;
  padding: 2rem;
  right: 2vw;
  bottom: 0px;
  font-size: 3em;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

#starter {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100vw;
  height: 100vh;
  z-index: 25;
  padding-bottom: 8rem;
  font-size: 3em;
  color: white;
  background-color: rgba(70, 70, 70, 0.4);
}

#play-button {
  padding: 2rem;
  background-color: darkgoldenrod;
}